<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>polygon-app</title>
</head>

<nav class="navbar navbar-expand-lg custom-navbar-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">PolygonApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
<div id="map" class="map">
  <a class="skiplink" href="#main">Skip to main content</a>
</div>
<br/>
<div class="buttons-container">
  <button id="add-point-button">Add Drawing</button>
  <button id="cancel-point-button" *ngIf="showCancelButton" (click)="refresh()">Cancel</button>
  <button id="query-point-button" (click)="queryDrawing()">Query Drawing</button>
</div>

<div id="modal1" class="modal1">
  <div class="modal-content1">

    <ngx-datatable
      [rows]="items"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="150"
      [rowHeight]="200"
    >
      <ngx-datatable-column name="Username" prop="username" [flexGrow]="1">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Number" prop="number" [flexGrow]="1">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Coordinates" prop="list" [flexGrow]="4">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ul>
            <li *ngFor="let item of row.list">
              Latitude: {{ item.latitude }}, Longitude: {{ item.longitude }}
            </li>
          </ul>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button (click)="showDetails(row)">Show On Map</button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <button style="width: 100%" (click)="refresh()">Close</button>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <div class="form-group">
      <label for="usernameInput">Username:</label>
      <input type="text" class="form-control" id="usernameInput" placeholder="Username">

      <label for="numberInput">Number:</label>
      <input type="number" class="form-control" id="numberInput" placeholder="Number">
    </div>
    <button (click)="refresh()">Cancel</button>
    <button (click)="sendPoints()">Submit</button>
  </div>
</div>

</body>
</html>
